@import "tailwindcss";
@plugin "daisyui";


@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-primaryColor: #1F7D74;
  --color-secondaryColor: #1fdd1f;
  --color-accentColor: #404040;

}